/* make hero image shink correct*/
.hero {
  height: 100vh;
  
  z-index: -1;
}

.hero-image {
  object-fit: cover;
  width: 100vw;
  height: 100%;

  position: fixed;
  top: 0;
}

.stanford-hero-text {
  font-size: 50px;
  color: white;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.explore-stanford-tab {
  background-color: #b1040e;
  color: white;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  bottom: 0px;
}
